.food-item{
    border: 1px solid #888;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    position: relative;
}

.food-item:hover{
    scale: 1.01;
}

.food-item img{
    width: 90%;
    transition: 0.3s;
}

.food-item img:hover{
    scale: 1.08;
}

.food-item-desc{
    padding: 5px 10px;
}

.food-item-desc span{
    font-size: 13px;
    font-weight: 400;
    color: #888;
}

.food-item-desc h2{
    font-size: 25px;
    font-weight: 500;
    color: #333;
    margin: 5px 0;
}

.food-item-desc .rating{
    display: flex;
    align-items: center;
    gap: 6px;
}

.food-item-desc .rating ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.food-item-desc .rating ul img{
    width: 20px;
}

.food-item-desc .price{
    font-size: 22px;
    font-weight: 500;
    color: #333;
    margin-top: 5px;
}

.food-item-desc .price b{
    font-size: 16px;
    color: #888;
    text-decoration: line-through;
}

.food-item button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: max(3vw, 100px);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 22px;
    border: 1px solid #62f59a3b;
    border-radius: 4px;
    background-color: #7ef7ac3b;
    color: #00ff0d;
    font-size: 16px;
}

.food-item button:hover{
    background-color: #4b97683b;
    color: #00ff0d;
}

.food-item button img{
    width: 20px;
}