.categories{
    margin-top: 80px;
}

.categories h1{
    font-size: 45px;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
}

.categories .category-boxes{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 60px;
}

.category-boxes .box{
    padding: 15px 40px;
    text-align: center;
    border: none;
    border-radius: 4px;
}

.category-boxes .box img{
    width: 120px;
    transition: 0.3s;
}

.category-boxes .box img:hover{
    scale: 1.1;
}

.category-boxes .box p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'epunda sans',sans-serif;
}

