.about {
    width: 100%;
    margin: 100px auto;
    background-image: url("../../greencart_assets/bottom_banner_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 300px;
}

.about-text {
    width: 90%;
    margin: 30px auto;
    justify-items: end;
}

.about-text h1 {
    font-size: 35px;
    font-weight: 600;
    font-family: "poppins", sans-serif;
}

.about-text .text{
    width: 380px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.about-text p {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2px;
    font-size: 25px;
    font-weight: 600;
    margin-top: 8px;
    font-family: "outfit", sans-serif;
}

.about-text p span {
    font-size: 18px;
    font-weight: 500;
    color: #666565;
}

.feedback {
    width: 90%;
    margin: 300px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feedback h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
}

.feedback p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: "outfit", sans-serif;
}

.feedback .input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 10px;
}

.input-btn input {
    height: 40px;
    width: 300px;
    padding-left: 20px;
    font-size: 16px;
    outline: 1px solid #8b8b8b;
    border: none;
    border-radius: 5px;
    background: transparent;
    transition: all 0.2s;
}

.input-btn input:focus {
    outline: 2px solid #76ec94;
    border: none;
}

.input-btn input::placeholder {
    font-size: 15px;
    color: #3f3e3e;
}

.input-btn button {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 500;
    font-family: "poppins", sans-serif;
    border: none;
    border-radius: 50px;
    background: #64ff56;
    color: #fefefe;
}

@media (max-width:768px) {
    .about {
        width: 100vw;
        margin-top: 100px;
        margin-bottom: 100px;
        background-image: url("../../greencart_assets/bottom_banner_image_sm.png");
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 1000px;
    }

    .about-text {
        width: 90%;
        margin: 30px auto;
        justify-items: start;
    }

    .about-text h1 {
        font-size: 25px;
        font-weight: 600;
        font-family: "poppins", sans-serif;
    }

    .about-text p {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 2px;
        font-size: 17px;
        font-weight: 600;
        margin-top: 8px;
        font-family: "outfit", sans-serif;
    }

    .about-text p span {
        font-size: 15px;
        font-weight: 500;
        color: #666565;
    }

    .feedback {
        width: 90%;
        margin: 80px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .feedback h1 {
        font-size: 30px;
        font-weight: 700;
        font-family: 'poppins', sans-serif;
    }

    .feedback p {
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        font-family: "outfit", sans-serif;
    }

    .feedback .input-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 30px;
        gap: 10px;
    }

    .input-btn input {
        height: 40px;
        width: 300px;
        padding-left: 20px;
        font-size: 16px;
        outline: 1px solid #8b8b8b;
        border: none;
        border-radius: 5px;
        background: transparent;
        transition: all 0.2s;
    }

    .input-btn input:focus {
        outline: 2px solid #76ec94;
        border: none;
    }

    .input-btn input::placeholder {
        font-size: 15px;
        color: #3f3e3e;
    }

    .input-btn button {
        padding: 10px 30px;
        font-size: 15px;
        font-weight: 500;
        font-family: "poppins", sans-serif;
        border: none;
        border-radius: 50px;
        background: #64ff56;
        color: #fefefe;
    }
}