.container{
    height: 100dvh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-container{
    width: 350px;
    background-color: white;
    box-shadow: 0 0 10px #999;
    padding: 20px;
    border-radius: 10px;
}

.login-form .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0c0c0ccb;
    margin-bottom: 20px;
}

.login-form .head h1{
    font-size: 25px;
    font-weight: 500;
    font-family: "poppins", sans-serif;
}

.input-boxes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
}

.input-boxes .input-box{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-top: 8px;
}

.input-box input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #999;
    margin-top: 2px;
    padding-left: 10px;
    cursor: pointer;
}

.input-box label{
    font-size: 14px;
    padding-left: 8px;
    color: #444;
    text-align: left;
}

.signup-btn{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.login-form p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.login-form p span{
    color: #4CAF50;
    text-decoration: underline;
    cursor: pointer;
}