/* Main footer container */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aaf7c454;
    padding: 80px 10vw;
}

/* Footer logo and description section */
.footer .footer-text {
    width: 30%;
}

.footer .footer-text img {
    width: 200px;
}

.footer .footer-text p {
    color: #888;
}

/* Footer links section */
.footer-links {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links .links p {
    font-size: 32px;
    font-weight: 500;
    color: #333;
}

.footer-links .links ul {
    list-style: none;
    padding: 10px 20px;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-links .links ul li {
    margin-top: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    transition: color 0.3s ease;
}

.footer-links .links ul li:hover {
    color: #32d138;
}

/* Social media icons */
.footer-links .links ul li i {
    margin-right: 10px;
    width: 20px;
}

/* Copyright section */
.copyright {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    padding: 15px 0;
    background-color: #aaf7c454;
}

/* Horizontal divider */
div hr {
    height: 1px;
    border: none;
    background-color: #888;
    margin: 0;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 40px 5vw;
        gap: 30px;
    }

    .footer .footer-text {
        width: 100%;
        text-align: center;
    }

    .footer-links {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .footer-links .links {
        width: 100%;
        text-align: center;
    }

    .footer-links .links p {
        font-size: 24px;
    }
}

@media (max-width: 1200px) {
    .footer {
        flex-direction: column;
        padding: 40px 5vw;
        gap: 30px;
    }

    .footer .footer-text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .footer-text p {
        font-size: 15px;
        text-align: center;
        width: 250px;
    }

    .footer-links {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .footer-links .links {
        width: 100%;
        text-align: center;
    }

    .footer-links .links p {
        font-size: 24px;
    }
}